---
# tasks file for add_nginx_proxy_conf

- name: Create vhost configuration file
  template:
    src: "{{ template_path }}"
    dest: "/etc/nginx/sites-available/{{ domain }}.conf"
    owner: www-data
    group: www-data
    mode: 0644
  notify: Enable vhost
